body {
    display: flex;
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
}

.left-items {
    width: 35vw;
    height: 100vh;
    background-image: url("images/dean-zhang-yWOQxEQSWmU-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transparent-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.25);
    height: 150px;
    margin-top: 150px;
    width: 100%;
}

.odin-logo {
    width: 100px;
    height: 100px;
}

.footer {
    margin-top: auto;
    color: white;
    opacity: 0.5;
    font-size: 12px;
}

.photo-link {
    color: white;
}

.right-items {
    display: flex;
    flex-direction: column;
    width: 65vw;
    height: 100vh;
}

.header-container {
    background-color: rgb(243, 243, 243);
    height: 33.3%;
    display: flex;
    flex-direction: column;
}

.header-text {
    margin-left: 50px;
    margin-top: 100px;
    font-size: 18px;
}

form {
    height: 33.3%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.form-heading {
    font-size: 14px;
}

.inputs {
    display: flex;
    gap: 50px;
}

.left-inputs, .right-inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input {
    display: flex;
    flex-direction: column;
}

input {
    width: 200px;
}

input:focus {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#password:invalid {
    border-color: red;
}

#confirm_password:invalid {
    border-color: red;
}

.below-form {
    background-color: rgb(243, 243, 243);
    height: 33.3%;
    display: flex;
    flex-direction: column;
}

.submit-button {
    width: 190px;
    height: 40px;
    font-family: "Delius", cursive;
    color: white;
    font-size: 18px;
    background-color: skyblue;
    border-radius: 5px;
    border: none;
    margin-left: 50px;
    margin-top: 35px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.submit-button:hover {
    cursor: pointer;
}

.below-form-text {
    margin-left: 50px;
}

.log-in {
    color: skyblue;
}