body {
    display: flex;
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
}

.left-items {
    width: 35vw;
    height: 100vh;
    background-image: url("images/dean-zhang-yWOQxEQSWmU-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transparent-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.25);
    height: 150px;
    margin-top: 150px;
    width: 100%;
}

.odin-logo {
    width: 100px;
    height: 100px;
}

.footer {
    margin-top: auto;
    color: white;
    opacity: 0.5;
    font-size: 12px;
}

a {
    color: white;
}